@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
}


.btn-degradado {
  background: linear-gradient(to bottom, #6201fc, black);
  border: 2px solid #6201fc;
}

.text-degradado {
  background: linear-gradient(350deg, #6201fc, #ffffff);
  background-clip: text;
  color: transparent;
}

.text-degrada {
  background: linear-gradient(to left, #6201fc, #ffffff);
  background-clip: text;
  color: transparent;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 25px;
  border: 1px solid #6101fc66;
}

.efecto:hover {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 32px;
  border: 1px sólido rgba(255, 255, 255, 0, 18);
}